<!-- views/show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post in Detail</title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
        }

        .post {
            border: 1px solid #ddd;
            padding: 10px;
            margin-top: 20px;
            background-color: #fff;
        }

        .user {
            color: #007bff;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Here is your post in detail</h2>
        <p>Post id: <%= post.id %></p>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h4><%= post.content %></h4>
        </div>
    </div>
</body>
</html>
